{% extends "base.html" %}

{% block page_content %}
<html lang="en">
<head>
<title>Welcome to RiskR8</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
          box-sizing: border-box;
        }

        /* Style the body */
        body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
        }

        /* Header/logo Title */
        .header {
          padding: 10px;
          text-align: center;
          background: #552233;
          color: white;
        }

        /* Increase the font size of the heading */
        .header h1 {
          font-size: 40px;
        }

        /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
        .navbarsub {
          overflow: hidden;
          background-color: #333;
          position: sticky;
          position: -webkit-sticky;
          top: 0;
        }

        /* Style the navigation bar links */
        .navbarsub a {
          float: left;
          display: block;
          color: white;
          text-align: center;
          border-radius: 25px;
          padding: 8px 80px;
          text-decoration: none;
        }


        /* Right-aligned link */
        .navbarsub a.right {
          float: right;
        }

        /* Change color on hover */
        .navbarsub a:hover {
          background-color: #ddd;
          color: black;
        }

        /* Active/current link */
        .navbarsub a.active {
          background-color: #666;
          color: white;
        }

        /* Column container */
        .row {  
          display: -ms-flexbox; /* IE10 */
          display: flex;
          -ms-flex-wrap: wrap; /* IE10 */
          flex-wrap: wrap;
        }

        /* Create two unequal columns that sits next to each other */
        /* Sidebar/left column */
        .side {
          -ms-flex: 55%; /* IE10 */
          flex: 55%;
          background-color: #f1f1f1;
          padding: 20px;
          text-align: justify;
          font-family: 'Book Antiqua';
        }

        /* Main column */
        .main {   
          -ms-flex: 45%; /* IE10 */
          flex: 45%;
          background-color: #f1f1f1;
          width: 100%;
          padding: 20px;
        }
        .main img{
          width: 100%;
        }

        /* Fake image, just for this example */
        .fakeimg {
          background-color: #aaa;
          width: 100%;
          padding: 20px;
        }

        /* Footer */
        .footer {
          padding: 20px;
          text-align: center;
          background: #ddd;
        }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 700px) {
          .row {   
            flex-direction: column;
          }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 400px) {
          .navbar a {
            float: none;
            width: 100%;
          }
        }
           display: inline;
           width: 100%;
       }
       .ContactForm {
           display: block;
           width: 100%;
           float: right;

       }
       #fname {
           width:100%;
       }
    </style>
</head>
<body>

<div class="navbarsub">
  <a href="{{ 'insurance' }}">Insurance</a>
  <a href="{{ 'investments' }}">Investments</a>
  <a href="{{ 'technology' }}">Technology</a>
  <a href="{{ 'world' }}">World</a>
  <a href="{{ 'cannabis' }}">Cannabis</a>
  <a href="{{ 'blockchain' }}">Blockchain</a>
</div>

<div class="header">
  <h4>Sorry, our webpage is currently under Construction</h1>
  <p><b>Please come back soon, we have many exciting things in the works</b></p>
</div>

<div class="row">
  <div class="side">
    <p>Thank you for visiting! We're pleased to have you with us.</p>
    <p>Unfortunately our website is under construction at this time. Please check-in with us in the near future, we have many exciting things planned and are developing a number of tools to serve you better.</p>
    <p>If you're inquiring about our consulting services, please complete our form below and we will be sure to follow up right away.</p>
    <p>Alternatively, our contact information is included below. Feel free to reach out directly, we are appreciative of personalized conversations.</p>
    <p>We look forward to serving you.</p>
    <p>Please sign-up below for future announcements or updates as we go live.</p>
    <h4>R8RISK</h4>
  </div>
  <div class="main">
     <a id="r8riskconstruct">
      <img src="https://i0.wp.com/r8risk.com/wp-content/uploads/2019/04/R8RISK-BizCard-Final-Copy_Page_2.png?zoom=2.5&resize=670%2C383&ssl=1">
     </a>
  </div>
</div>

<!--
<div class="row">
  <div class="side">
    <h2>Recent Tools</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="main">
    <h2>Welcome to </h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;"></div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
-->

<div class="ContactForm">
   <p style="text-align: justify;">Please complete our contact for below for any enquiries you may have, we look forward to working with you to fulfill your needs.</p>
  <form action="/action_page.php">
   <fieldset>
   <legend style="text-transform: uppercase; color: #4caf50;">Contact Form:</legend>
     <p>First Name: <input type="text" id="Fname" name="Fname" required minlength="2" maxlength="8" size="10"></p>
     <p>Last Name: <input type="text" id="Lname" name="Lname" required minlength="2" maxlength="30" size="10"></p>
     <p>Telephone #: <input type="text" id="TelNo" name="TelNo" required minlength="2" maxlength="15" size="10"></p>
     <p>Email Address: <input type="text" id="email" name="email" required minlength="2" maxlength="8" size="10"></p>
<!--     <p>Request Callback time: <input type="text" class="datepicker">-->
     <p>Comments: <input type="text" id="comments" name="comments" required minlength="2" maxlength="4000" size="20000"></p>
    <input type="Submit" value="Submit">
   </fieldset>
  </form>
</div>

<div class="footer" style="text-align: right; width: 100%">
  <h6>R8RISK LEGAL DISCLAIMER</h6>
</div>

</body>
</html>

{% endblock %}
