{% extends "base.html" %}

{% block page_content %}
<html lang="en">
<head>
<title>Welcome to RiskR8</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
          box-sizing: border-box;
        }

        /* Style the body */
        body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
        }

        /* Header/logo Title */
        .header {
          padding: 10px;
          text-align: center;
          background: #552233;
          color: white;
        }

        /* Increase the font size of the heading */
        .header h1 {
          font-size: 40px;
        }

        /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
        .navbar {
          overflow: hidden;
          background-color: #333;
          position: sticky;
          position: -webkit-sticky;
          top: 0;
        }

        /* Style the navigation bar links */
        .navbar a {
          float: left;
          display: block;
          color: white;
          text-align: center;
          padding: 14px 20px;
          text-decoration: none;
        }


        /* Right-aligned link */
        .navbar a.right {
          float: right;
        }

        /* Change color on hover */
        .navbar a:hover {
          background-color: #ddd;
          color: black;
        }

        /* Active/current link */
        .navbar a.active {
          background-color: #666;
          color: white;
        }

        /* Column container */
        .row {  
          display: -ms-flexbox; /* IE10 */
          display: flex;
          -ms-flex-wrap: wrap; /* IE10 */
          flex-wrap: wrap;
        }

        /* Create two unequal columns that sits next to each other */
        /* Sidebar/left column */
        .side {
          -ms-flex: 55%; /* IE10 */
          flex: 55%;
          background-color: #f1f1f1;
          padding: 20px;
          text-align: justify;
          font-family: 'Book Antiqua';
        }

        /* Main column */
        .main {   
          -ms-flex: 45%; /* IE10 */
          flex: 45%;
          background-color: #f1f1f1;
          width: 100%;
          padding: 20px;
        }
        .main img{
          width: 100%;
        }

        /* Fake image, just for this example */
        .fakeimg {
          background-color: #aaa;
          width: 100%;
          padding: 20px;
        }

        /* Footer */
        .footer {
          padding: 20px;
          text-align: center;
          background: #ddd;
        }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 700px) {
          .row {   
            flex-direction: column;
          }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @media screen and (max-width: 400px) {
          .navbar a {
            float: none;
            width: 100%;
          }
        }
           display: inline;
           width: 100%;
       }
       .ContactForm {
           display: block;
           width: 100%;
           float: right;

       }
       #fname {
           width:100%;
       }
    </style>
</head>
<body>

<div class="footer" style="text-align: right; width: 100%">
  <h6>R8RISK LEGAL DISCLAIMER</h6>
</div>

</body>
</html>

{% endblock %}
