<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>R8RISK - Let's talk Risky Business</title>
    <!--STYLE INFORMATION FOR PAGE HEADER-->
        <style>
        /* Testing
        ------------------------*/
        /*.inner {
          margin: 0 auto;
          max-width: 1180px;
        }
        /* Structure
        ------------------------*/
        .inner {
          margin: 0 auto;
          max-width: 1180px;
        }
        /* Header 
        ------------------------*/
        .site-header {
          background: #fff;
          padding-bottom: 30px;
          padding-top: 30px;
          text-align: center;
        }
        .site-title {
          font-size: 34px;
          font-weight: bold;
          letter-spacing: -1px;
          line-height: 1.2;
          margin-bottom: 15px;
        }
        .site-title a {
          color: #464646;
          display: inline-block;
          text-decoration: none;
        }
        .site-description {
          color: #464646;
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 0;
          margin-top: -10px;
          text-align: center;
        }
        .navbar-brand img {
          height: auto;
          width: 7em;
          max-width: 100%;
          max-height: 100%;
        }

        </style>
    <!-- Materialize UI CSS -->
	<!-- Compiled and minifid CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script

    <!-- Browser Icon -->
    <link rel="icon" href="https://i1.wp.com/r8risk.com/wp-content/uploads/2019/03/cropped-diamond-logo-png-4-1.png?fit=32%2C32&amp;ssl=1" sizes="32x32">

    <!-- Additional Style Sheet Information can be added below-->
  </head>
</html>


<!-- NAVBAR FOR BASE.HTML: Using Bootstrap4 Styling -->
<!-- Using Bootstrap4 styling -->
<nav>
  <div class="nav-wrapper amber darken-1">
    <!-- Links -->
    <ul class="navbar-mobile">
      <li><a class="nav-link" href="{{ 'blog' }}">Blog</a></li>
      <li><a class="nav-link" href="{{ 'welcome' }}">Welcome</a></li>
      <li><a class="nav-link" href="{{ 'principlesandculture' }}">Principles & Culture</a></li>
      <li><a class="nav-link" href="{{ 'whatwedo' }}">What We Do</a></li>
      <li><a class="nav-link" href="{{ 'ourleadership' }}">Our Leadership</a></li>
      <li><a class="nav-link" href="{{ 'community' }}">Community</a></li>
      <li><a class="nav-link" href="{{ 'contact' }}">Contact</a></li>
      <!-- Brand Logo -->
      <li><a class="brand-logo right" href="#" style="color: black">R8RISK<!-- img src="https://r8risk.com/wp-content/uploads/2019/04/R8RISK-Logo-1.png" alt="Logo" style="width: 4em; max-height: 100%; margin-right: 60px;"--></a></li>
    </ul>
  </div>
</nav>

<!-- R8RISK MAIN HEADER -->
<div class="site-header">
  <header class="site-header">
    <div class="inner">
        <p class="site-title"><a href="#!" rel="home">R8RISK</a></p>
        <p class="site-description">Let's talk 'Risky' Business</p>
    </div> <!-- .inner -->
  </header><!-- .site-header --> 
</div>


{% block page_content %}{% endblock %}

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
